body{
    display: flex;
    align-items: center;
    min-height: 100dvh;
}
.cards-container{
    display: flex;
    gap: 40px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
}
.logo{
    width: 100%;

}
.headers{
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
}